.preloader{
    width: 100%;
    height: 100%;
    background-color:#05467e;
    position: fixed;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b9/Youtube_loading_symbol_1_(wobbly).gif");
    background-repeat: no-repeat;
    background-position: center;
}