*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    outline: none;
    border: none;
    text-decoration: none;
}
html{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #7449a3;
}

.logo img{
    height: 7rem;
   
}
.logo{
    background: none;
}
.header{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    margin: 2rem 7%;
    border-radius: 30rem;
    box-shadow: -5px 10px 5px 0px rgba(0,0,0,0.75);

}